html  {
    font-size: 100%;
}

/* header */
.navbar_  {
    height: 4em;
    background-color: #2c3e50;
}

.header_  {
    background-color: #1abc9c;
}

.header_>.img_  {
    height: 300px;
    background-color: bisque;
}

/* main */
.portfolio_  {
    height: 150px;
    background-color: aqua;
}

.portfolio_content  {
    height: 200px;
    width: 380px;
    background-color: blue;
}

.about_  {
    height: 300px;
}

.about_content_  {
    height: 200px;
    background-color: chocolate;
}

.contact_  {
    height: 150px;
    background-color: darkgreen;
}

.contact_bottom_  {
    height: 80px;
    background-color: darksalmon;
    margin-top: 5em;
}

/* footer */
footer  {
    background-color: #2c3e50
}
.footer_  {
    height: 200px;
    background-color: gold;
}